<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var dates = "{{{dates}}}";
        var firstContentfulPaint = "{{{firstContentfulPaint}}}";
        var speedIndex = "{{{speedIndex}}}";
        var score = "{{{score}}}";
        var interactive = "{{{interactive}}}";

        var datesArray = dates.split(",")
        var firstContentfulPaintArray = firstContentfulPaint.split(",")
        var speedIndexArray = speedIndex.split(",")
        var scoreArray = score.split(",")
        var interactiveArray = interactive.split(",")

        var arrayToDataTable = [['Date', 'FCP LAB']];
        var arrayToDataTable2 = [['Date', 'SPEED INDEX']];
        var arrayToDataTable3 = [['Date', 'INTERACTIVE']];

        for (let i = 0; i < datesArray.length; i++) {
          arrayToDataTable.push([datesArray[i], parseInt(firstContentfulPaintArray[i]),]);
          arrayToDataTable2.push([datesArray[i], parseInt(speedIndexArray[i])]);
          arrayToDataTable3.push([datesArray[i], parseInt(interactiveArray[i])]);
        }

        var data = google.visualization.arrayToDataTable(arrayToDataTable);
        var data2 = google.visualization.arrayToDataTable(arrayToDataTable2);
        var data3 = google.visualization.arrayToDataTable(arrayToDataTable3);

        var options1 = {
          title: 'First Content Full Paint' ,
        };

        var options2 = {
          title: 'Speed Index' ,
          colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']

        };
var options3 = {
          title: 'Interactivity' ,
          colors: ['#7bb661', '#50c878', '#87a96b', '#d0ff14']

        };

        var chart = new google.visualization.AreaChart(document.getElementById('fcp-chart'));
        var chart2 = new google.visualization.LineChart(document.getElementById('speed-index'));
        var chart3 = new google.visualization.ScatterChart(document.getElementById('score'));

        chart.draw(data, options1);
        chart2.draw(data2, options2);
        chart3.draw(data3, options3);
      }
      
    </script>
  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dashboard</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </div>
  </nav>
    <div style="padding: 1rem;">
      <h1 style = "text-align: center;">Performance Monitoring</h1>
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div>
          Overall Performance Score: 
        </div>
        <div style="padding: 1.5rem; background-color: #008000; border-radius:250px; color:white; font-size:22px">
          <span>{{#each score}}{{#if @last}}{{this}}{{/if}}{{/each}}</span>

        </div>
        <div id="score" style="width: 900px; height: 500px;"></div>

      </div>
      <div class="card mt-3" style="display:flex; flex-direction: row; ">
        <div id="fcp-chart" style="width: 900px; height: 500px;"></div>
        <div id="speed-index" style="width: 900px; height: 500px;"></div>

      </div>
    </div>
  </body>
</html>